@model Test3StarterFile.Models.Car

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SortByMiles</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
