@model practiceForTest2.Models.person

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>Thanks</title>
</head>
<body class="text-center">
    <div> 
        <h1>Thanks for the response, @Model.firstName!</h1>
    </div>
</body>
</html>
