@model fromScratch.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>Thanks</title>
</head>
<body class="text-center">
    <div> 
        <h1 class="bg-info text-white">Thank you for responding, @Model.Name!</h1>
    </div>
</body>
</html>
