@{
    ViewBag.Title = "Summary";
}

    <h2>Summary</h2>

        <p>Average Age: @ViewBag.AvgAge</p>
        <p>Maxium Age: @ViewBag.MaxAge</p>
        <p>Number of Employees: @ViewBag.NumEmployees</p>

