
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <div class="text-center"> 
        <p>Welcome to the Sell-A-Car website!</p>
        @Html.ActionLink("Click here to include your car", "CarForm")
    </div>
</body>
</html>
