@model Test2CarApp.Models.Car

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
</head>
<body>
    <div> 
        <h3>Thank you for your post!</h3>
        <p>@Model.Make</p>
        <p>@Model.Model</p>
        <p>@Model.Year</p>
        <p>@Model.Mileage</p>
    </div>
</body>
</html>
