
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Styles.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <div class="container">
        <div class="row">
    <div class="col test-center"> 
        @Html.ActionLink("Click here to add a gift.", "ClickHere", null, new {Class = "btn btn-success"})
    </div>
        </div>
        </div>
</body>
</html>
