@model GiftRequests.Models.Gift

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
</head>
<body>
    <div class="text-center"> 
        <h1>Thank you for your post!</h1>
        <p>@Model.GiftName</p>
        <p>@Model.Price.ToString("c")</p>
        <p>@Model.Store</p>
    </div>
</body>
</html>
